.content{
  margin-top:45px;
}
.md-form label.active {
    font-size: 0.8rem;
    transform: translateY(-140%);
}

.closeCongratsModal{
  font-size:16pt !important; 
  cursor:pointer; 
  margin-left:10px;
}
