<div class="content">
  <div class="card text-white text-center bg-secondary mb-3" >

    <div class="card-body">
      <h3 class="card-title">Welcome to Asana Pet Adoption Portal</h3>
      <h5 class="card-title text-white">A dog will teach you unconditional love. If you can have that in your life, things won't be too bad.</h5>
      <br>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
          <img src="https://www.humanesociety.org/sites/default/files/styles/2000x850/public/2018/08/dog-girl-440625.jpg" class="img-fluid" style="margin-bottom:20px;">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
      </div>
      <div class="row" text-center>
        <div class="col-lg col-md col-sm">
          <h3 class="card-title">Planning to Adopt a Pet?</h3>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="col-lg col-md col-sm ">
                  <div class="card blue-gradient" >
                      <table class="table bordeless">
                      <tr>
                        <td>
                            <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2017/08/PCE_Blue_Icon-17.png">
                            <h4 class="text-center" style="color:white">Adopt a Pet Now</h4>
                            <button
                              (click)="goToPets()"
                              type="button"
                              class="btn btn-md btn-warning"
                            >
                              <i class="fa fa-paw black-text right_10_padding mr-10" style="font-size:14pt;" aria-hidden="true"></i><span style="color:white; font-size:14pt;">Adopt Now</span>
                          </button>
                        </td>
                      </tr>
                      </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="col-lg col-md col-sm three-card-margin-top">
                  <div class="card">
                    <table class="table bordeless">
                        <tr>
                          <td verticalAlignment="top">
                            <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2017/08/PCE_Blue_Icon-18.png">
                            <h4 class="text-center" style="color:darkorchid">Checklist for New Adopters</h4>
                            <button type="button" class="btn btn-md purple-gradient">Learn More</button>
                          </td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="col-lg col-md col-sm three-card-margin-top">
                  <div class="card">
                    <table class="table bordeless">
                      <tr>
                        <td verticalAlignment="top">
                          <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2017/08/PCE_Blue_Icon-8.png">
                          <h4 class="text-center" style="color:darkorchid">Pet Adoption FAQs</h4>
                          <button type="button" class="btn btn-md purple-gradient">Learn More</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
      </div>
      <div class="row"><br></div>
      <div class="row" text-center>
        <div class="col-lg col-md col-sm">
          <h3 class="card-title">You're In Good Hands</h3>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="col-lg col-md col-sm three-card-margin-top">
                  <div class="card">
                      <table class="table bordeless">
                        <tr>
                          <td verticalAlignment="top">
                            <img src="https://rehome.adoptapet.com/img/v2/in-good-hands/trust.svg" style="width:120px;">
                            <p style="color:black; padding:5px; text-align:left;">
                              You're In Good Hands Trusted Asana Pet Adoption Center is a trusted non-profit organization and our dedicated team of pet experts is
                              here to support you throughout this process.
                            </p>
                          </td>
                        </tr>
                      </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="col-lg col-md col-sm three-card-margin-top">
                  <div class="card">
                    <table class="table bordeless">
                      <tr>
                        <td verticalAlignment="top">
                            <img src="https://rehome.adoptapet.com/img/v2/in-good-hands/safe.svg" style="width:120px;">
                            <p style="color:black; padding:5px; text-align:left;">
                              Our expert advice and safe meeting zones make Rehome by Asana Pet Adoption Center, the safer alternative to online pet adoption classifieds. You will be satisfied with our services<br>
                            </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="col-lg col-md col-sm three-card-margin-top">
                  <div class="card">
                    <table class="table bordeless">
                      <tr>
                        <td verticalAlignment="top">
                          <img src="https://rehome.adoptapet.com/img/v2/in-good-hands/privacy.svg" style="width:120px;">
                          <p style="color:black; padding:5px; text-align:left;">
                             Your personal information will never be shared or shown to the public. We respect and protect your information and make sure that nobody else can see it.
                          </p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
      </div>
    </div>
    <div class="row"><br></div>
    <div>
       <div class="row">
         <div class="col-lg col-md col-sm">
           <h5 class="text-center" style="color:white; margin-bottom: 15px;">Proudly Powered by the Passionate Pet Lovers at</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <img style="width:40%;" src="https://rehome.adoptapet.com/img/v2/sponsors/petco_foundation.svg"
              alt="Petco Foundation">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <img style="width:40%;" src="https://rehome.adoptapet.com/img/v2/sponsors/Petco_Horizontal_RGB.svg" alt="Petco">
          </div>
          <div class="col-lg-2 col-m2-4 col-sm-2">
            <img style="width:40%;" src="https://rehome.adoptapet.com/img/v2/sponsors/purina.svg" alt="Purnia">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
    </div>
    <div class="row"><br></div>
  </div>
</div>
