<header>
      <app-navabar></app-navabar>
</header>

  <div class="content" style="margin-top:20px;">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer fixed-bottom page-footer deep-purple center-on-small-only pt-0">

    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">

        <span style="float:right; margin-right:25px;" class="navbaritem">
        © {{currentyear}} Copyright <i> Asana </i>
      </span>
      </div>
    </div>
    <!--/Copyright-->

  </footer>
